BasedOnStyle: Microsoft
ColumnLimit: 215
SortIncludes: Never
AlwaysBreakTemplateDeclarations: Yes
NamespaceIndentation: All
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
IndentCaseLabels: true
AllowShortFunctionsOnASingleLine: All
AlignConsecutiveAssignments: AcrossEmptyLines
UseTab: ForContinuationAndIndentation
