BasedOnStyle: Microsoft
ColumnLimit: 215
SortIncludes: Never
AlwaysBreakTemplateDeclarations: Yes
NamespaceIndentation: All
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterUnion: true
  AfterFunction: true
  AfterClass: true
  AfterExternBlock: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterNamespace: true
  AfterObjCDeclaration: true
  AfterStruct: true
IndentCaseLabels: true
AllowShortFunctionsOnASingleLine: All
AlignConsecutiveAssignments: AcrossEmptyLines
UseTab: ForContinuationAndIndentation
