build/
release/
documentation/html
documentation/latex
VultrHelper
VultrHelper.exe
*.generated.h
*.generated.cpp
CMakeFiles/
.cache/
.idea/
cmake-build-debug/
.vs/
out/
.vimspector.json
.dep/*
.dep/
libs/*
libs/
