build/
release/
documentation/html
documentation/latex
VultrHelper
VultrHelper.exe
*.generated.h
*.generated.cpp
CMakeFiles/
.cache/
.idea/
cmake-build-debug/
.vs/
out/
.vimspector.json

# TODO(Brandon): Figure out a better solution to this
vendor/libs/LINUX/libshaderc_combined.a
vendor/libs/LINUX/libyaml-cpp.a